.search-container {
    position: relative;
    display: inline-block;
    justify-content: center;
}

.search-container input[type="text"] {
    padding-left: 30px; /* ทำให้มีช่องว่างสำหรับไอคอน */
    width: 200px;
    height: 30px;
    border-radius:50px ;
}

.search-container .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
