html{
    background-color: black;
}
img {
    width: 90px;
    height: 90px;
}
.h{
    height: 100%;
    width: 100%;
}
.nav {
    justify-content: center;
    display: flex;

}
.information {
    color:white;
}
.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.menu {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 500px; /* กำหนดความกว้างสูงสุดให้กับคอลัมน์เมนู */
}

.menu li {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 20;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 35%;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover {
    background-color: #f0f0f0; /* เพิ่มเอฟเฟกต์ hover เมื่อชี้เมาส์ */
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.information {
    flex: 2;
    font-size: 10px;
    line-height: 1.5;
    color: #ffffff;
    max-width: 600px; 
}
.information img {
    width: 590px;
    height: 590px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .information {
        margin-top: 20px;
    }
}

.bar {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 10px;
}
.bar li {
    margin-right: 20px;
}
.bar a {
    text-decoration: none;
    color: #ffffff;
}
.menu li {
    margin-top: 20px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

.footer > div {
    flex: 1;
    margin: 0 10px;
}

.footer .location, .footer .service, .footer .contact, .footer .terms {
    text-align: center;
}

.footer .location div, .footer .service div, .footer .contact div, .footer .terms div {
    margin-bottom: 10px;
}

.footer .contact a, .footer .terms a, .footer .service a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #ffffff;
}

.footer div {
    padding: 10px;
}

.footer div:last-child {
    flex: 0 0 100%; /* กำหนดให้แสดงเต็มความกว้างของ footer */
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

/* สำหรับการแสดงผลบนหน้าจอขนาดเล็ก เช่นมือถือ */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer > div {
        margin-bottom: 10px;
    }
}
